/* Including the fonts whcih are used in page */
@import url("https://fonts.googleapis.com/css2?family=Kode+Mono:wght@400..700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap");
/* universal style  */
* {
  margin: 0px;
  padding: 0px;
  font-family: "poppins", sans-serif;
}
.container {
  width: 95%;
  margin: auto;
}
/* Nav bar  */
.backgroundheader {
  background-color: #0b3747;
  padding: 20px 30px 9px 30px;
  box-shadow: 3px 3px 12px #ffffff;
}
.backgroundheaderindex {
  background-color: #ffffff;
  padding: 20px 30px 9px 30px;
  box-shadow: 3px 3px 12px #cccbc8;
}
.givecol {
  color: #6a859b;
}
.navinline {
  display: flex;
}
.logoname {
  color: #333333;
  padding-top: 1px;
}
.logoname1 {
  color: #333333;
  padding-top: 1px;
}
.logoname2 {
  color: white;
  padding-top: 1px;
}
.navtext {
  padding-left: 250px;
  margin-top: 11px;
  display: flex;
}
.navtext1 {
  padding-left: 98px;
  display: flex;
}
.nav_menu {
  display: inline;
  padding: 0px 25px 25px 25px;
  font-weight: 400;
  color: white;
}
.nav_menu1 {
  display: inline;
  padding: 0px 25px 0px 25px;
  font-weight: 500;
  font-size: 18px;
  color: white;
}

a.yrt {
  color: #26536b;
  text-decoration: none;
  font-size: 15px;
}
a.yrt:hover {
  text-decoration: none;
  color: grey;
}
a.yt1 {
  color: #ffffff;
  text-decoration: none;
  font-size: 15px;
}
a.yt1:hover {
  text-decoration: none;
  color: grey;
}
/* login button  */
.loginbutton {
  color: #0b3747;
  padding: 12px 23px 12px 23px;
  font-size: 15px;
  font-weight: 600;
  border-color: #0b3747;
  background-color: #ffffff;
  cursor: pointer;
  border-radius: 5px;
}
.loginbutton-1 {
  color: #ffffff;
  padding: 12px 23px 12px 23px;
  font-size: 15px;
  font-weight: 600;
  border-color: #ffffff;
  background-color: #0b3747;
  cursor: pointer;
  border-radius: 5px;
}
.loginbutton1 {
  color: #26536b;
  padding: 12px 25px 12px 25px;
  font-size: 15px;
  border-color: black;
  background-color: #ffffff;
  cursor: pointer;
  border-radius: 25px;
}
.loginbutton:hover {
  background-color: #ffffff;
  color: #26536b;
}
.btn-text-center {
  text-align: center;
}
/* contact us button */
.contactus {
  color: white;
  padding: 12px 23px 12px 23px;
  font-size: 15px;
  font-weight: 600;
  border-color: #ffffff;
  background-image: linear-gradient(to right, #a5ea13, #2cadc6);
  cursor: pointer;
  border-radius: 5px;
}
.contactus1 {
  color: white;
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 15px;
  border-color: #ffffff;
  padding-left: 23px;
  padding-right: 23px;
  background-color: #0b3747;
  cursor: pointer;
  border-radius: 5px;
}
.contactus2 {
  color: white;
  padding-top: 12px;
  padding-bottom: 12px;
  font-size: 15px;
  border-color: #ffffff;
  padding-left: 25px;
  padding-right: 25px;
  background-color: #0b3747;
  cursor: pointer;
  border-radius: 25px;
}
.contactus3 {
  color: #0b3747;
  padding: 12px 25px 12px 5px;
  font-size: 15px;
  border-color: #ffffff;
  background-color: white;
  cursor: pointer;
  border-radius: 25px;
}
.rer {
  background-color: #0b3747;
  background-image: url(IMG/herobg.svg);
  background-size: 30px 10px;
  background-position: top 20px right 30px;
}
.aligningbutton {
  margin-left: 20%;
}
.aligningcontact {
  padding-left: 15px;
}
/* hero page */
.heroalign {
  background-color: #0b3747;
  margin: 0px 200px 0px 180px;
  padding: 100px 0px 0px 0px;
}
.mm {
  margin-left: 80px;
  background-color: white;
  display: flex;
}
.mm1 {
  margin-left: 80px;
  background-color: #0b3747;
  display: flex;
}
.ff {
  font-size: 70px;
  font-weight: 600;
}
.ff1 {
  font-size: 43px;
  font-weight: 600;
  color: white;
}
.ff2 {
  font-weight: 600;
  font-size: 25px;
  margin-top: 20px;
  color: #b1ef00;
}
.lo {
  height: 1100px;
  background-image: linear-gradient(#051b23, #527f7f);
  margin-top: 110px;
}
.lo1 {
  height: 1200px;
  background-image: white;
}
.tyt {
  height: 220px;
}
.yte {
  display: flex;
  justify-content: space-evenly;

  margin: 90px 100px 50px 120px;
}
.circle {
  width: 30px;
  height: 30px;
  background-image: linear-gradient(to right, #a5ea13, #2cadc6);
  border-radius: 50%; /* This property makes the div round */
  overflow: hidden;
  display: flex; /* Use flexbox for centering */
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */
}
.circle img {
  width: 75%; /* This makes sure the image fills the entire circle */
}
.yuy {
  color: #26536b;
  font-size: 17px;
  font-weight: 600;
}

.lo2 {
  height: 1200px;
  background-image: white;
}
.yy {
  font-weight: 450;
  font-size: 30px;
  margin-top: 30px;
}
.yy1 {
  font-weight: 420;
  font-size: 40px;
  text-align: center;
  color: white;
}
.yy3 {
  font-weight: 420;
  font-size: 40px;
  text-align: center;
  color: 051b23;
}
.yy2 {
  font-weight: 400;
  font-size: 25px;
  text-align: center;
  color: white;
}
.yp2 {
  font-weight: 400;
  font-size: 20px;
  text-align: center;
  color: #051b23;
}
.op {
  margin-top: 10px;
  padding-top: 90px;
  height: 50px;
}
.op1 {
  padding-top: 22px;
  height: 50px;
}
.op2 {
  margin-top: 35px;
}
.op3 {
  padding-top: 80px;
  height: 50px;
}
.contactus3 {
  color: #051b23;
  padding-top: 12px;
  padding-bottom: 12px;
  font-size: 15px;
  border-color: #ffffff;
  padding-left: 28px;
  padding-right: 28px;
  background-color: white;
  font-weight: 500;
  cursor: pointer;
  border-radius: 25px;
}
.ss {
  font-weight: 400;
  font-size: 18px;
  margin-top: 30px;
  color: grey;
}

.ee {
  display: flex;
  margin-top: 30px;
}
.rr {
  display: flex;
  margin-top: 40px;
}
#tt {
  margin-left: 15px;
}

.ll {
  font-weight: 300;
  font-size: 18px;
  margin-left: 15px;
  margin-right: 15px;
  color: grey;
}

.heroalign1 {
  background-color: white;
  margin: 100px 200px 0px 180px;
}

#herotext {
  font-size: 40px;
  color: white;
  font-weight: 500;
}
#herotext1 {
  font-size: 40px;
  color: black;
  font-weight: 500;
}
#heronext {
  font-size: 20px;
  color: white;

  font-weight: 300;
}
.Apibutton {
  color: #26536b;
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 15px;
  border-color: #ffffff;
  /* border-radius: 2px;
  border-color: white; */
  padding-left: 23px;
  padding-right: 23px;
  background-color: white;
  cursor: pointer;
  border-radius: 5px;
}
.hero2 {
  background-color: EDF8FC;
}
.imgb {
  width: 300px;
  height: 135px;
  border-radius: 12px 12px 0px 0px;
  margin-left: 70px;
}
.imgc {
  width: 390px;
  height: 135px;
  border-radius: 12px 12px 0px 0px;
  margin-left: 60px;
}
.shadow-left-right {
  box-shadow: 50px 0px 50px #c9fbdd, -50px 0px 50px #c9fbdd;
}
.shadow-left {
  box-shadow: -50px 0px 50px #c9fbdd;
}

.qw {
  height: 300px;
  width: 450px;
  margin-left: 280px;
  background-color: #f2f3f4;
  border-radius: 10px;
}
.qw1 {
  height: 300px;
  width: 450px;
  margin-left: 40px;
  background-color: #f2f3f4;
  border-radius: 10px;
}
.qw3 {
  height: 400px;
  width: 350px;
  margin-left: 28px;
  background-color: #f2f3f4;
  border-radius: 15px;
}
.qw4 {
  height: 450px;
  width: 750px;
  margin-left: 120px;
  margin-top: 45px;
  background-color: #f2f3f4;
  border-radius: 15px;
}
.yt {
  margin-left: 20px;
  padding-top: 30px;
  font-weight: 400;
  font-size: 25px;
}
.ds {
  padding-left: 30px;
  list-style-type: none;
}
.ss1 {
  font-weight: 400;
  font-size: 18px;
  margin-top: 10px;
  color: grey;
}
.mn {
  margin-top: 50px;
  display: flex;
}
.mn1 {
  margin-top: 50px;
  display: flex;
  margin-left: 180px;
}

.lo2 {
  height: 700px;
  background-image: linear-gradient(#051b23, #527f7f);
}
.klm {
  display: flex;
  padding: 90px 0px 0px 0px;
  margin-left: 120px;
}
.pdme {
  padding-top: 140px;
}
.jjh {
  font-size: 45px;
  font-weight: 600;
}
.gradient-text {
  background-image: linear-gradient(to right, #b8f0e3, #7275ef);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}
.lo5 {
  height: 500px;
  background-image: white;
}
.yty {
  text-align: center;
  color: #718096;
  margin-top: 90px;
}
.trt {
  font-weight: 600;
}
.tyu {
  display: flex;
  justify-content: space-between;
  margin: 35px 150px 100px 150px;
  padding: 0px 15px 0px 15px;
}
.ghg {
  display: flex;
  padding: 50px 100px 60px 200px;
}
.ghg1 {
  display: flex;
  padding: 10px 100px 10px 200px;
  color: grey;
}

.hy {
  padding: 10px 0px 0px 90px;
}
.hy1 {
  padding: 10px 0px 0px 60px;
}
.hy2 {
  padding: 10px 0px 0px 60px;
}
.hy3 {
  padding: 10px 0px 0px 60px;
}
.ssd {
  padding-top: 10px;
  color: grey;
}
.dd {
  padding-left: 30px;
}
.bgcolorr {
  background-color: #f1f5f9;
}
.alignhead {
  display: flex;
  justify-content: center;
}
.alignhead1 {
  display: flex;
  justify-content: center;
}
.align-text {
  padding: 70px 0px 60px 0px;
  font-weight: 600;
  font-size: 28px;
}
.ypoi {
  border-radius: 20px;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 80px;
  margin-left: 45px;
  margin-right: 45px;
}
.img5 {
  padding: 20px 90px;
}
.img6 {
  padding: 50px 120px 10px 120px;
}
.try {
  background-color: #0b3747;
  color: white;
  border-radius: 30px;
  width: 55%;
  height: 50px;
  margin-bottom: 20px;
}
